<h1>Welcome To Announcebot Home</h1>
<% if current_user %>
<h1>You are logged in as <%= current_user.username %></h1>
  <p><%= link_to "Go To Home", index_path%></p>
<% else %>
<h1>You are not logged in.</h1>
<% end %>

<br>


